# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folder
build

# visual
LeapMotionOculusKeyboard.sdf
LeapMotionOculusKeyboard/LeapMotionOculusKeyboard.vcxproj.user
LeapMotionOculusKeyboard/LeapMotionOculusKeyboard.opensdf
LeapMotionOculusKeyboard/LeapMotionOculusKeyboard.sdf
LeapMotionOculusKeyboard/Debug
LeapMotionOculusKeyboard/ipch
LeapMotionOculusKeyboard.opensdf
ipch
Release
Debug